.footer {
  background-color: #2f4858;
  color: #fff;
}
.section-padding-t {
    padding: 80px 0;
}

.footer__top {
  display: flex;
  gap: 15px;
}

.footer__top--icon svg {
  color: #5a8f7b;
  font-size: 45px;
}

.footer__top .h3,
.footer__top h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.footer__top--info {
  text-align: left;
  color: white;
}

.footer__top--info a {
  color: white;
}
